appdirs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
Flask
frozendict
html5lib
idna
itsdangerous
Jinja2
lxml
MarkupSafe
multitasking
numpy
packaging
pandas
pandas-datareader
plotly
pycparser
python-dateutil
pytz
requests
six
soupsieve
tenacity
tzdata
urllib3
webencodings
Werkzeug
yfinance
gunicorn
